@import "../../constants/constants.scss";

.profileWrapper {
  text-align: center;
  position: relative;
  h3 {
    font-weight: 700;
  }
  .cover {
    width: 100%;
    object-fit: cover;
    height: 360px;
    position: relative;
    border-radius: 10px;
    img {
      width: 100%;
      object-fit: cover;
      height: 360px;
      position: relative;
      border-radius: 10px;
      // box-shadow: 0 0 8px rgba(131, 131, 175, 0.2),
      //   0 6px 20px rgba(157, 159, 197, 0.19);
    }
  }
  .btn {
    position: relative;
    // margin-left: 760px;
    margin-top: -90px;
    width: 100%;
    > button {
      position: absolute;
      right: 0;
    }
    @media only screen and(max-width: 900px) {
      display: none;
    }
  }
  .profilImage {
    margin-top: -170px;
    text-align: center;
    .icon {
      border-radius: 999px;
      padding: 5px;
      cursor: pointer;
      font-size: 30px;
    }
  }
  .profilFriendImage {
    margin: 0 auto;
    margin-top: -170px;
  }
  h1 {
    margin: 5px;
    font-weight: 900;
    font-size: 30px;
  }
  .bio {
    span {
      color: $accent;
      font-weight: 700;
      font-size: 16px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
      @media only screen and(max-width: 900px) {
        // display: none;
      }
    }
  }
  .addBio {
    max-width: 200px;
    margin: 10px auto;
    font-size: 16px;
    .dialog_input {
      font-size: 16px;
    }
  }
  p {
    font-size: 16px;
    margin: 10px;
    font-weight: 600;
  }
}

:global(.light) {
  .cover {
    background-color: $secondary-txt; /* For browsers that do not support gradients */
    background-image: linear-gradient($secondary-txt, $darker-bg);
    box-shadow: 0 0 8px rgba(133, 133, 133, 0.2),
      0 6px 20px rgba(141, 141, 141, 0.19);
    img {
      box-shadow: 0 0 8px rgba(131, 131, 175, 0.2),
        0 6px 20px rgba(157, 159, 197, 0.19);
    }
  }
  .profilImage {
    .icon {
      background-color: $primary-background;
    }
  }
  p {
    color: $secondary-background;
  }
}
