@import "../constants/constants.scss";

.wrapper {
  display: flex;
  width: 345px;
  height: 110px;
  padding: 12px 16px;
  box-sizing: border-box;
  cursor: pointer;

  div.avatar {
    width: 60px;
    height: 60px;

    > svg {
      width: 60px;
      height: 60px;
    }
  }
  .request_info_container {
    width: 100%;
    padding-left: 10px;

    .request_info {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;

      > h4 {
        font-size: 15px;
        font-weight: 700;
      }
      > span {
        font-size: 13px;
      }
      button.btn {
        padding: 6px 26px;
        font-size: 14px;
        text-transform: none;
        font-weight: 700;
      }
    }
  }
}

:global(.light) {
  .wrapper {
    &:hover {
      background-color: $hover_overlay;
    }
  }
}

:global(.dark) {
  .wrapper {
    &:hover {
      background-color: $dt-hover-overlay;
    }
  }
}
