.container {
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  border-top: 1px solid #dadde1;
  box-sizing: border-box;
  padding: 16px;
  position: relative;
  text-align: center;
}
.container1 > p,
.container > p {
  color: rgb(129, 123, 123);
}
.container1 {
  text-align: start;
  padding: 16px;
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  border-top: 1px solid #dadde1;
  height: 532px;
  width: 432px;
}
.container > div {
  padding: 5px;
}
.header {
  margin-top: 0;
  padding-top: 10px;
}
.names {
  display: flex;
  justify-content: space-between;
  width: 432px;
  width: 100%;
}
.additional {
  /* width: 432px; */
  display: flex;
  flex-direction: column;
}
