.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  height: 56px;

  position: sticky;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.5);
}

.header__left,
.header__input,
.header__middle,
.header__right,
.header__info {
  display: flex;
  align-items: center;
}

.header__left {
  width: 290px;
  justify-content: space-between;
}

.header__left img {
  height: 40px;
}

.header__input {
  position: relative;
}

.header__input > svg {
  position: absolute;
  left: 12px;
  transition-timing-function: linear;
  transition-property: opacity, transform;
  transition-duration: 0.1s;
}

.header__input > input {
  width: 240px;
  height: 40px;
  border-radius: 999px;
  border: none;
  outline-width: 0px;
  padding: 9px 16px 7px 36px;
  font-size: 15px;
  box-sizing: border-box;
  transition-timing-function: linear;
  transition-property: padding;
  transition-duration: 0.1s;
}

.header__input > input:focus {
  padding-left: 16px;
}

.header__input > input:focus + svg {
  transform: translateX(-11px);
  opacity: 0;
}

.header__left > button {
  display: none;
}

.header__middle li {
  line-height: 1;
  height: 52px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__middle li > svg {
  width: 110px;
  height: 48px;
  padding: 6px;
  box-sizing: border-box;
  border-radius: 8px;
}

li.selected {
  color: rgb(24, 119, 242);
  border-bottom: 4px solid rgb(24, 119, 242);
}

.header__info {
  border-radius: 18px;
  padding: 3px;
  padding-right: 10px;
  margin-right: 10px;
  font-weight: 700;
  cursor: pointer;
}

.header__info > div {
  height: 28px;
  width: 28px;
  margin-right: 6px;
}

button.icon_btn {
  padding: 8px;
  margin-right: 8px;
}

button.arrow_btn {
  padding: 2.5px;
}

@media (max-width: 1260px) {
  .header__left {
    width: auto;
  }

  .header__input {
    margin-left: 10px;
  }

  .header__input > svg {
    left: 8px;
  }

  .header__input input {
    width: 40px;
    padding-left: 24px;
  }

  .header__info {
    display: none;
  }
}

@media (max-width: 700px) {
  .header__middle {
    display: none;
  }

  .header__left > button {
    display: inline-flex;
    margin-left: 8px;
  }
}

@media (max-width: 370px) {
  .header__right > button:first-of-type {
    display: none;
  }

  .header {
    padding: 0px 5px;
  }
}

@media (max-width: 300px) {
  .header {
    padding: 0px;
  }
}
