.dialog {
    box-sizing: border-box;
    .dialog_title {
        > h2 {
            font-weight: 700;
            font-size: 20px;
            .closebtn {
                left: 340px;
                padding: 5px;
                > span > svg {
                    font-size: 19px;
                }
            }
        }
    }
    .dialog_content {
        margin: 20px 10px;
        > h2 {
            font-weight: 900;
            margin: 5px;
            font-size: 18px;
        }
        > p {
            color: gray;
            margin: 5px;
        }
        .profile_info {
            display: flex;
            justify-content: flex-start;
            margin: 20px 0;
            > input {
                margin: 0 10px;
                font-size: 16px;
                border: none;
            }
            > svg {
                padding-right: 5px;
                font-size: 26px;
            }
        }
    }
}
