@import "../../constants.scss";

.card {
  padding: 15px 15px 5px 15px;
  margin: 15px;

  .post_header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;

    .post_info {
      margin-left: 7px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      h3 {
        display: flex;
        align-content: flex-end;

        > a {
          text-decoration: none;
          color: inherit;
          font-weight: 700;

          &:active {
            color: inherit;
          }
          &:visited {
            color: inherit;
          }
        }
        > svg {
          margin-top: 2px;
        }
      }

      .timestamp {
        font-size: 13px;
        width: fit-content;
      }
    }

    .more_btn {
      margin-left: auto;
    }
  }

  .post_content {
    font-size: 14px;
    .expand_content {
      cursor: pointer;
      font-weight: 700;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .post_footer {
    .post_stats {
      padding: 7px 0;
    }

    .stats_link {
      cursor: pointer;
      display: flex;
      align-items: center;

      &:hover {
        text-decoration: underline;
      }
      .likes_icon {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: $accent;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5px;

        svg {
          font-size: 14px;
        }
      }
    }

    .post_react {
      button {
        text-transform: none;
        font-size: 15px;
        font-weight: 700;

        &.liked {
          color: $accent;
        }
      }

      .comment_link {
        text-decoration: none;
        color: inherit;

        &:active {
          color: inherit;
        }
        &:visited {
          color: inherit;
        }
      }
    }
  }

  .comments_container {
    display: block;

    &.hidden {
      display: none;
    }
  }
}

.post_actions_popper {
  button.post_actions_btn {
    text-transform: none;
    font-weight: 700;
  }
}
