.container {
    margin: 120px 0;
    text-align: center;
    h1 {
        text-align: center;
        font-weight: 700;
        word-break: break-word;
        font-size: 1.25rem;
        margin: 20px;
        color: gray;
    }
    p {
        text-align: center;
        font-size: 16px;
        margin: 20px;
        color: gray;
    }
    .error {
        height: 212px;
        width: 212px;
        align-self: center;
        margin: 20px;
        @media only screen and(max-width: 900px) {
            height: 112px;
            width: 112px;
        }
    }
    .cursor{
        cursor:pointer;
    }
}