.primary_txt {
  color: rgb(5, 5, 5);
}

.secondary_txt {
  color: rgb(28, 30, 33) !important;
}

.icon_color {
  color: rgb(96, 103, 112);
}

.emphasis {
  color: rgb(24, 119, 242);
}

.primary_bg {
  background-color: rgb(240, 242, 245);
}

.secondary_bg {
  background-color: rgb(255, 255, 255);
}

.secondary_button_bg {
  background-color: rgb(228, 230, 235) !important;
}

.hover_col:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.hover_btn:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}